@model CUO.Training.Web.Models.MathOperationModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.X, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                    @Html.EditorFor(model => model.X)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-4">
                    @Html.RadioButtonFor(model => model.MyOperation, CUO.Training.Web.Models.MathOperationModel.MathOperationEnum.Add) @Html.Label("Add")
                    @Html.RadioButtonFor(model => model.MyOperation, CUO.Training.Web.Models.MathOperationModel.MathOperationEnum.Subtract) @Html.Label("Subtract")
                    @Html.RadioButtonFor(model => model.MyOperation, CUO.Training.Web.Models.MathOperationModel.MathOperationEnum.Multiply) @Html.Label("Multiply")
                    @Html.RadioButtonFor(model => model.MyOperation, CUO.Training.Web.Models.MathOperationModel.MathOperationEnum.Divide) @Html.Label("Divide")
                </div>
                
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Y, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Y)
                </div>
            </div>
            <div class="col-md-offset-1 col-md-3 bg-success text-center font-weight-bold">
                <strong>Result: @ViewBag.Result</strong>
            </div>
            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Calculate" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }




</div>







<!--<div class="col-md-12">-->
@* TODO: make calc *@
<!--<ul>
        <li>Total: @ViewBag.Result</li>
        <li>Y: @ViewBag.Y</li>
        <li>X: @ViewBag.X</li>
    </ul>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Calculator top row">
            <button type="button" class="btn">7</button>
            <button type="button" class="btn">8</button>
            <button type="button" class="btn">9</button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Calculator middle row">
            <button type="button" class="btn">4</button>
            <button type="button" class="btn">5</button>
            <button type="button" class="btn">6</button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Calculator bottom row">
            <button type="button" class="btn">1</button>
            <button type="button" class="btn">2</button>
            <button type="button" class="btn">3</button>
        </div>
    </div>
</div>-->
